.ProfileCard {
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 8px;
}

.ProfileCard .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.ProfileCard .profile .mask {
    border-radius: 50%;
    width: 68px;
    height: 68px;
    overflow: hidden;
    margin: 8px;
}

.ProfileCard .profile .mask .avatar {
    width: 100%;
    height: 100%;
}

.ProfileCard .profile .name {
    font-size: 18px;
}

.ProfileCard .profile .title {
    font-size: 14px;
    font-weight: 300;
}

.ProfileCard .leave {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #4F4F4F;
}

.ProfileCard .leave .label {
    margin-right: 4px;
    font-size: 12px;
}
